<div class="table">
				<div routerLink="/login" class="but">Connexion</div>
				<div routerLink="/upload"class="but">Déposer une partition</div>
				<div routerLink="/category"class="but">Categorie</div>
				<div routerLink="/home"class="but">Accueil</div>
</div>
<input id="search" name="q" type="text" size="40" placeholder="Search..." />

<footer class="footer">
		<table class="footer_table">
			<tr>
				<th>
					Contacts
				</th>
				<th>
					A propos de nous
				</th>
				<th>
					Liens
				</th>
			</tr>
			<tr>
				<td>
					Partyshare@support.com
				</td>
				<td>
					Qui sommes-nous ?
				</td>
				<td>
					Philarmony de Paris
				</td>
			</tr>
			<tr>
				<td>
					Tél: 01 23 45 67 89
				</td>
			</tr>
		</table>
</footer>