<app-menu></app-menu>
<table class="table_genre">
<tbody>
<tr>
		<td class="but_genre" id="top-left">
			<span class="titre">Piano</span>
			<table class="description">
				<tr>
					<td>
						R'n'B
					</td>
					<td>
						Jazz
					</td>
				</tr>
				<tr>
					<td>
						Classic
					</td>
					<td>
						Rock
					</td>
				</tr>
				<tr>
					<td>
						POP
					</td>
					<td>
						Variété
					</td>
				</tr>
			</table>
		</td>
		<td class="but_genre" id="top-left">
			<span class="titre">Guitar</span>
			<table class="description">
				<tr>
					<td>
						R'n'B
					</td>
					<td>
						Jazz
					</td>
				</tr>
				<tr>
					<td>
						Classic
					</td>
					<td>
						Rock
					</td>
				</tr>
				<tr>
					<td>
						POP
					</td>
					<td>
						Variété
					</td>
				</tr>
			</table>
		</td>
		<td class="but_genre" id="top-left">
			<span class="titre">Violon</span>
			<table class="description">
				<tr>
					<td>
						R'n'B
					</td>
					<td>
						Jazz
					</td>
				</tr>
				<tr>
					<td>
						Classic
					</td>
					<td>
						Rock
					</td>
				</tr>
				<tr>
					<td>
						POP
					</td>
					<td>
						Variété
					</td>
				</tr>
			</table>
		</td>
</tr>
<tr>
		<td class="but_genre" id="top-left">
			<span class="titre">Chant</span>
			<table class="description">
				<tr>
					<td>
						R'n'B
					</td>
					<td>
						Jazz
					</td>
				</tr>
				<tr>
					<td>
						Classic
					</td>
					<td>
						Rock
					</td>
				</tr>
				<tr>
					<td>
						POP
					</td>
					<td>
						Variété
					</td>
				</tr>
			</table>
		</td>
		<td class="but_genre" id="top-left">
			<span class="titre">Batterie</span>
			<table class="description">
				<tr>
					<td>
						R'n'B
					</td>
					<td>
						Jazz
					</td>
				</tr>
				<tr>
					<td>
						Classic
					</td>
					<td>
						Rock
					</td>
				</tr>
				<tr>
					<td>
						POP
					</td>
					<td>
						Variété
					</td>
				</tr>
			</table>
		</td>
		<td class="but_genre" id="top-left">
			<span class="titre">Saxophone</span>
			<table class="description">
				<tr>
					<td>
						R'n'B
					</td>
					<td>
						Jazz
					</td>
				</tr>
				<tr>
					<td>
						Classic
					</td>
					<td>
						Rock
					</td>
				</tr>
				<tr>
					<td>
						POP
					</td>
					<td>
						Variété
					</td>
				</tr>
			</table>
		</td>
</tr>
</tbody>
</table>